<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AskAnything</title>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/adaptive.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300' rel='stylesheet'
          type='text/css'/>
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <script src="/resources/script/AnswerIt.js" type="text/javascript"></script>
</head>
<body>
<header>
    <div class="navbar">
        <div class="menu">
            <div class="header_logo">
                <a href="/"><img class="logo" src="/resources/css/img/logo.png"/></a>
            </div>
            <section class="header_info">
                <div class="logout">
                    <a href="/logout"><img src="/resources/css/img/logout.png"/></a>
                    <div class="textreg"><a href="#"><span>Выход</span></a></div>
                </div>
            </section>
        </div>
    </div>
</header>
<main>
    <span hidden="true" id="countOfQuestions" th:text="${countOfQuestions}"></span>
    <div class="useranswer" id="useranswers">
        <a href="/"><img id="noQuestions" src="/resources/css/img/noQuestions.png"/></a>
        <form method="post" th:each="qest  : ${questions}" id="lolik">
            <p><span th:text="${qest.asker.username}">Vadim:</span><span id="question" th:name="question"
                                                                        th:text="${qest.question}"></span></p>
            <textarea id="answer" name="answer" placeholder="Type your answer here..."></textarea>
            <span id="date" th:text="${qest.date}" hidden="hidden"></span>
            <span class="time_b" th:text="${qest.date}"></span>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="button" value="Answer" class="answerAll" id="answerAll"/>
        </form>
    </div>
</main>
<div class="footer" onload="zeroQuestions();">
    <div class="copyright">©Копирайт бай Вадимка</div>
</div>
</body>
</html>