<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>AskAnything</title>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/adaptive.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300' rel='stylesheet'
          type='text/css'/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="navbar">
        <div class="menu">
            <div class="header_logo">
                <a href="#"><img class="logo" src="/resources/css/img/logo.png"/></a>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="regandlogin">
        <div>
            <form name='f' method="post" th:action="@{/login}" >
                <input class="logininfo" name="username" type="text" placeholder="User name"/>
                <input class="logininfo" name="password" type="password" placeholder="password"/>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div>
                    <input type="submit" value="Log in"/>
                    <a href="/registration"><input type="button" value="Registration"/></a>
                </div>
            </form>
        </div>
    </div>
</main>
<div class="footer">
<div class="copyright">©Копирайт бай Вадимка</div>
</div>
</body>
</html>