<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AskAnything</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/adaptive.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300' rel='stylesheet'
          type='text/css'/>
    <meta charset="utf-8"/>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/resources/script/AnswerIt.js" type="text/javascript"></script>
</head>
<body>
<header>
    <div class="navbar">
        <div class="menu">
            <div class="header_logo">
                <a href="/"><img class="logo" src="/resources/css/img/logo.png"/></a>
            </div>
            <section class="header_info">
                <!--<div class="register">-->
                    <!--<a href="#"><img src="/resources/css/img/user.png"/></a>-->
                    <!--<div class="textreg"><a href="#"><span>Реестрация</span></a></div>-->
                <!--</div>-->
                <div class="logout">
                    <a href="/"><img src="/resources/css/img/logout.png"/>
                    <div class="textreg"><span>Вход</span></div></a>
                </div>
            </section>
        </div>
    </div>
</header>
<main>
    <form class="regform" method="post" th:object="${user}">
        <div>
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="error">Name Error</span>
            <p>First name</p><input type="text" th:field="*{firstName}" th:errorclass="error-field"/>

            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="error">Name Error</p>
            <p>Last name</p><input type="text" th:field="*{lastName}" th:errorclass="error-field"/>

            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" th:errorclass="error">Name Error</p>
            <p>UserName</p><input type="text" th:field="*{username}" th:errorclass="error-field"/>

            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="error">Name Error</p>
            <p>Email</p><input type="text" th:field="*{email}" th:errorclass="error-field"/>

            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:errorclass="error">Name Error</p>
            <p>Password</p><input id="password" type="password" th:field="*{password}" th:errorclass="error-field"/>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <p>Confirm password</p><input id="confirm" type="password"/>

            <input type="submit" value="Register"/>
        </div>
    </form>
</main>
<div class="footer">
    <div class="copyright">©Копирайт бай Вадимка</div>
</div>
</body>

</html>