@media (max-width: 750px) {
    .main_textarea textarea {
        width: 100%;
        height: 220px;
        border-left-width: 0;
    }
    
    .online {
        font-size: 0.5em;
    }
    
    .user-image, #ellipse {
        visibility: hidden;
    }
    
    .main-block{
        margin: 0;
    }
    
    .user-text-block{
        padding: 0;
        
    }
    
    .info-nick {
        margin-left: 20px;
    }

    
    
}